@model MatchViewModel
@{
    ViewData["Title"] = "Matches";
}
<div style="text-align:right">
    <form method="get" action="~/Matches/Process">
        <button id="btnStart" class="btn btn-warning btn-fill" type="submit" value="STARTCOL" name="MatchAction">
            <i class="fa fa-hourglass-start"></i> Start College Matching
        </button>
        <button id="btnEnd" class="btn btn-danger btn-fill" type="submit" value="ENDCOL" name="MatchAction">
            <i class="fa fa-hourglass-end"></i> End College Matching
        </button>
        <button id="btnStart2" class="btn btn-warning btn-fill" type="submit" value="STARTSEN" name="MatchAction">
            <i class="fa fa-hourglass-start"></i> Start SeniorHigh Matching
        </button>
        <button id="btnEnd2" class="btn btn-danger btn-fill" type="submit" value="ENDSEN" name="MatchAction">
            <i class="fa fa-hourglass-end"></i> End SeniorHigh Matching
        </button>
        <button id="btnPop" class="btn btn-primary btn-fill" type="submit" value="POPCOL" name="MatchAction">
            <i class="fa fa-plus"></i> Populate College Matches
        </button>
        <button id="btnPop2" class="btn btn-primary btn-fill" type="submit" value="POPSEN" name="MatchAction">
            <i class="fa fa-plus"></i> Populate SeniorHigh Matches
        </button>
        <button id="btnClear" class="btn btn-danger btn-fill" type="submit" value="CLEARCOL" name="MatchAction">
            <i class="fa fa-times"></i> Clear College Matches
        </button>
        <button id="btnClear2" class="btn btn-danger btn-fill" type="submit" value="CLEARSEN" name="MatchAction">
            <i class="fa fa-times"></i> Clear SeniorHigh Matches
        </button>
    </form>
</div>
<h4>Settings</h4>
<div>
    <label>Total Student Count</label>
    <input type="text" disabled value="@Model.TotalStudentCount" /><br />
    <label>Student Male Count</label>
    <input type="text" disabled value="@Model.StudentMaleCount" /><br />
    <label>Student Female Count</label>
    <input type="text" disabled value="@Model.StudentFemaleCount" /><br />
    <label>College Matching</label>
    <input type="text" disabled value="@Model.CollegeConfig.IsActive.ToString()" /><br />
    <label>Senior High Matching</label>
    <input type="text" disabled value="@Model.SeniorHighConfig.IsActive.ToString()" /><br />
</div>
@if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
{
    <div class="alert-success alert">
        <p>@Model.SuccessMessage</p>
    </div>
}
@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div class="alert-danger alert">
        <p>@Model.ErrorMessage</p>
    </div>
}
<h3>College</h3>
<div class="table-container">
    <table id="mainTable" class="dataTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Male Student</th>
                <th>Female Student</th>
                <th>Level</th>
                <th>Matched</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CollegeMatches != null)
            {
                foreach (var row in Model.CollegeMatches)
                {
                    <tr>
                        <td>@row.Id</td>
                        <td>@row.StudentNumberMale</td>
                        <td>@row.StudentNumberFemale</td>
                        <td>@row.Level</td>
                        <td>@row.Matched</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<h3>Senior High</h3>
<div class="table-container">
    <table id="mainTable2" class="dataTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Male Student</th>
                <th>Female Student</th>
                <th>Level</th>
                <th>Matched</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.SeniorHighMatches != null)
            {
                foreach (var row in Model.SeniorHighMatches)
                {
                    <tr>
                        <td>@row.Id</td>
                        <td>@row.StudentNumberMale</td>
                        <td>@row.StudentNumberFemale</td>
                        <td>@row.Level</td>
                        <td>@row.Matched</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


@section Scripts{
    <script>
        var mainDT = null;

        $(function () {
            mainDT = new DataTable('#mainTable');
            var mainDT2 = new DataTable('#mainTable2');
        });

    </script>
}
